<label ng-if="component.label && !component.hideLabel" for="{{ componentId }}" ng-class="{'field-required': isRequired(component)}">{{ component.label | formioTranslate:null:builder }}</label>
<span ng-if="!component.label && isRequired(component)" class="glyphicon glyphicon-asterisk form-control-feedback field-required-inline" aria-hidden="true"></span>
<ui-select
  uis-open-close="onOpenClose(isOpen)"
  ng-model="data[component.key]"
  safe-multiple-to-single
  ng-disabled="readOnly"
  ng-required="isRequired(component)"
  id="{{ componentId }}"
  name="{{ componentId }}"
  tabindex="{{ component.tabindex || 0 }}"
  theme="bootstrap"
>

  <ui-select-no-choice>
    <div class="empty-search" ng-show="isLoading === false" >
      Nenhum resultado encontrado...
    </div>
  </ui-select-no-choice>

  <ui-select-match class="ui-select-match" placeholder="{{ component.placeholder | formioTranslate:null:builder }}">{{$item.formatted_address || $select.selected.formatted_address}}</ui-select-match>
  <ui-select-choices class="ui-select-choices" repeat="address in addresses" refresh="refreshAddress($select.search)" refresh-delay="500">
    <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select>

<spinner
  should-render="isLoading"
  spinner-class="inside-input"
>
</spinner>
<div
  ng-if="hasError"
  class="inside-input"
  tooltip-placement="left"
  uib-tooltip="Falha ao carregar mais informações"
>
  <span
    style="color: gray;"
    class="glyphicon glyphicon-warning-sign"
  ></span>
</div>

<formio-errors ng-if="::!builder"></formio-errors>
